@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul {
    list-style: none;
    gap: 10px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
a {
    text-decoration: none;
    color: black;
    padding: 8px;
}
.header{
    display: flex;
    color: grey;
    margin-bottom: auto;
}
.left-links {
    display: flex;
    flex: 1 0 auto;
    justify-self: start;
}
.right-links {
    display: flex;
    flex: 1 0 auto;
    justify-content: end;
    
}
.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}
.content {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer {
    display: flex;
    margin-top: auto;
    background-color: rgba(119, 136, 153, 0.5);
}